.searchForm{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.searchForm__input{
    flex:10;
    padding:1.5%;
    outline:none;
    border:1px solid #a1a1a1;
}

.searchForm__btn{
    padding:1.5%;
    align-self: stretch;
    flex:1;
    text-align: center;
    margin:0;
    outline:none;
    border:1px solid #a1a1a1;
    text-align: center;
}


.searchForm__icon{
    box-sizing: border-box;
    font-size: 110%;
    color:dodgerblue;
}